$FirstColor: rgb(190, 15, 15);
$SecondColor: #f0f0f0;
$ThirdColor: rgb(0, 0, 0);
$FourthColor: #cccccc;

section{
    position: fixed;
    justify-content: space-between;
    display: flex;
    align-items: center;
    max-width: 100vw;
    min-width: 100vw;
    background-color: $FirstColor;
    outline: 2px solid $ThirdColor;
}

section ul{
    display: flex;
    align-items: center;
    list-style: none;
    padding: 10px;
    margin-left: 50%;
    transform: translate(-50%);

}

section li{
    margin-top: 10px;
    margin-left: 70px;
}

section li a{
    color: $ThirdColor;
    text-decoration: none;
    font-size: clamp(1.2vw, 1.2vw, 1vw + 2em);
    font-weight: 600;
    padding: 8px 1vw;
    background-color: $FirstColor;
    transition: 0.3s;
}section li a:hover{
    color: #f0f0f0;
    background-color: rgb(190, 15, 15);
}

.carousel-item{
  margin-top: 200px;
  height: 200px;
}